*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.flex{
    display: flex;
    flex-direction: row;
}

.space-between{
    justify-content: space-between;
}

.column{
    display: flex;
    flex-direction: column;
}

header{
    height: 90px;
    background-color: cornflowerblue;
}

