*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.flex{
    display: flex;
    flex-direction: row;
}

.space-between{
    justify-content: space-between;
}

.column{
    display: flex;
    flex-direction: column;
}

header{
    height: 90px;
    background-color: cornflowerblue;
}

.nav-right,
.nav-left{
    width: 30%;
    background-color: cyan;
}

.nav-left div,
.nav-right div{
    width: 25%;
    border: 1px solid black;
    text-align: center;
} 

nav{
    height: 100%;
}

.jumbotron{
    height: 550px;
    background-color: aquamarine;
    padding-top: 80px;
}

.jumbotron-container{
    width: 70%;
    margin: 0 auto;
    background-color: brown;
    height: 100%;
}

.jumbotron-description{
    width: 30%;
    height: 65%;
    background-color: darkkhaki;
}

.jumbotron-image{
    width:70% ;
    background-color: coral;
    height: 65%;
}

h1{
    width: 100%;
    height: 35%;
    background-color: blueviolet;
}

.wrap{
    flex-wrap: wrap;
}

.jumbo-img{
    width: 100%;
    height: 100%;
}

.container{
    width: 50%;
    margin: 0 auto;
}

.bg-green{
    background-color: greenyellow;
}

.business-section{
    height: 800px;
}
/*.business-section div{
    width: calc((100% / 3) - 50px);
    background-color: deeppink;
    height: 100%;
}*/

