*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.flex{
    display: flex;
    flex-direction: row;
}

.flex-start{
    justify-content: flex-start;
}

.flex-end{
    justify-content: flex-end;
}

.gap{
    row-gap: 20px;
}

.medium-gap{
    row-gap: 35px;
}

.big-gap{
    row-gap: 55px;
}

.space-between{
    justify-content: space-between;
}

.space-around{
    justify-content: space-around;
}

.column{
    display: flex;
    flex-direction: column;
}

.justify-center{
    justify-content: center;
}

.align-center{
    align-items: center;
}

.blue-button{
    background-color:#0061ff;
    color: white;
    padding: 7px 7px;
}

.button{
    padding: 5px 7px;
    border: 1px solid black;
    width: 42%;
    text-align: center;
}

.jumbotron-description span.blue-button{
    width: 61%;
}

div.jumbotron-description>div.column span{
    margin-bottom: 25px;
}
header{
    background-color: white;
}

.logo-image{
    width: 80%;
    filter: contrast(1.5);
}

.nav-right,
.nav-left{
    width: 28%;
}

.nav-right,
.nav-left{
    align-items: center;
}

.nav-right{
    padding-left: 70px;
}
nav{
    padding: 18px 20px;
}

.jumbotron{
    background-color:#b4d0e7;
    padding-top: 60px;
}

.jumbotron-container{
    width: 60%;
    margin: 0 auto;
}

.jumbotron-container>h1{
    font-size: 63px;
    padding-right: 100px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    margin-bottom: 40px;
}

.icon-arrow{
    font-size: 2.5rem;
    font-weight: 500;
}

.arrow-container{
    margin-bottom: 10px;
}

.jumbotron-description{
    width: 30%;
}

.jumbotron-image-container{
    width:70% ;
    padding-right: 30px;
    position: relative;
}

.wrap{
    flex-wrap: wrap;
}

.jumbo-image{
    width: 93%;
    position:absolute
}

div.yearly-container{
    margin-left: 10px;
}

.container{
    width: 60%;
    margin: 0 auto;
}

.bg-green{
    background-color: greenyellow;
}

.business-section{
    margin-top: 130px;
    font-family:'Open Sans', sans-serif;
}

.business-section>h2{
    font-size: 35px;
    font-family:'Open Sans', sans-serif;
    margin-bottom: 40px;
}

.radio-container{
    margin-bottom: 40px;
    font-size: 0.80rem;
}

.radio-container input{
    vertical-align: middle;
}

.business-plans{
    margin-bottom: 35px;
}

.plan-item>h2{
    margin-bottom: 10px;
    font-family:'Open Sans', sans-serif;
    font-size: 20px;
}

div.price-container{
    margin-bottom: 4px;
}

.business-plans div.business-column{
    width: calc((100% / 3) - 40px) ;
}



div.business-column{
    border: 1px solid black;
    padding-bottom: 35px;
}


.price-container{
    font-weight: bold;
}

.month-container{
    margin-top: 7px;
}

.plan-title{
    padding: 8px 0px;
}

i{
    margin-right: 3px;
    font-size: 1em;
}

div.plan-title{
    text-align: center;
    border-bottom: 1px solid black;
}

.plan-item{
    padding: 0px 40px;
    font-size: 0.80rem;
    font-weight: 500;
}

h3.plan-item{
    font-weight: bold;
}

div.plan-item ul>li{
    margin-bottom: 18px;
}

div.plan-item ul>span{
    margin-right: 5px;
}

div.plan-item ul{
    list-style: none;
}

div.plan-item>span{
    margin:20px 0px;
}

div.plan-item>span>hr{
    width: 20%;
}

.plan-item .blue-button{
    text-align: center;
    padding: 9px;
}

.enterprise{
    border: 1px solid black;
}

.team-container{
    padding:30px;
}

.team-container-left{
    width: 70%;
}

.team-container-right{
    width: 30%;
}

.team-container h3{
    margin-top: 10px;
    font-size: 12px;
}

.team-container p{
    padding-right: 60px;
}

.find-partner{
    margin-top: 130px;
}

#partner-image{
    width: 100%;
}

.find-partner-image{
    width: 55%;
}

.find-partner-description{
    width: 40%;
    padding-right: 30px;
    font-family:'Open Sans', sans-serif;
}

.find-partner-description>h2{
    font-size: 20px;
    padding-right: 90px;
}

.find-partner-description>p{
    font-size: 0.85rem;
    padding-right: 40px;
}

.find-partner-description>h2{
    margin-top: 50px;
}

.dropbox-business{
    margin-top: 130px;
}

.dropbox-business-item{
    width:calc((100% / 3) - 20px);
    font-family:'Open Sans', sans-serif;   
}

.dropbox-business-item>h3{
    font-size: 22px;
}

.dropbox-business-item>p{
    margin-top: 30px;
    font-size: 0.85;
}

.dropbox-business>h2{
    font-size: 35px;
    font-family:'Open Sans', sans-serif;
}

div.dropbox-business-item:nth-child(1),
div.dropbox-business-item:nth-child(2),
div.dropbox-business-item:nth-child(3){
    margin-bottom: 30px;
}

.dropbox-link{
    margin-top: 130px;
}

.dropbox-link>h2{
    font-size: 35px;
    font-family:'Open Sans', sans-serif;
    padding-right: 400px;
}

.business-item-container{
    margin-top: 38px;
}

.business-image{
    height: 250px;
    width: 100%;
    padding-right: 30px;
}

section.boxes{
    margin-top: 130px;
}

section.boxes div.boxes-item{
    width: 50%;
    height: 50%;
    border: 1px solid black;
}

.boxes-container{
    width: calc(100vw / 3);
    height: calc(100vw / 3);
    border: 1px solid black;
}

.boxes-image{
    width: 50%;
    margin: auto;
}

.margin-auto{
    margin: auto;
}

.free-try{
    height: 250px;
    background-color: rgb(13, 171, 171);
}

.free-try-item{
    height: 100%;
}
.free-try-item div{
    width: calc((100% / 2) - 40px);
    background-color: blue;
    text-align: center;
    height: 50%;
}

.frequent-questions{
    height: 300px;
    margin-top: 130px;
}

.accordion-container{
    height: 100%;
}

.accordion-container>div{
    width: 100%;
    border: 1px solid black;
    border-left: 0;
    border-right: 0;
}

footer{
    background-color: black;
    color: white;
    height: 500px;
    margin-top: 130px;
    padding-top: 70px;
}

section.contacts ul{
    list-style: none;
}

section.contacts h3{
    margin-bottom: 30px;
}

section.contacts ul>li{
    margin-bottom: 25px;
}

.footer-container{
    width: 65%;
    margin: 0 auto;
}

.text-blue{
    color: #0061ff;
}

div.language{
    margin-top: 50px;

}

.divisor{
   margin-top: 70px;
}

.bg-green-light{
    background-color: #a2d39b;
}

.bg-bordeaux{
    background-color:#61082b ;
}

.bg-light-blue{
    background-color: #0093ce;
}

.bg-light-red{
    background-color:#ff1c1c;
}

.bg-dark-red{
    background-color: #d5001f ;
}

.bg-sun-blue{
    background-color:#b4d0e7 ;
}

.bg-dark-blue{
    background-color:#0d2481;
}

.bg-yellow{
    background-color:#ffd830;
}